<div class="container mt-5">
  <div class="jumbotron text-center bg-light p-5 rounded">
    <h1 class="display-4">Welcome to Hair by DG</h1>
    <p class="lead">Premium hair care products for natural hair</p>
    <%= link_to 'Shop Now', products_path, class: 'btn btn-primary btn-lg' %>
  </div>

  <h2 class="mt-5 mb-4">Featured Products</h2>
  <div class="row">
    <%= render partial: 'shared/product_card', collection: @featured_products, as: :product %>
  </div>
</div>